* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #111;
}
.row__poster {
	width: 100%;
	object-fit: contain;
	max-height: 100px;
	margin-right: 10px;
	transition: transform 450ms;
}

.row__posters {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 20px;
}

.row__poster:hover {
	transform: scale(1.08);
}

.row__posters::-webkit-scrollbar {
	display: none;
}

.row__posterLarge {
	max-height: 250px;
}

.row__posterLarge:hover {
	transform: scale(1.09);
}

.row {
	color: white;
	margin-left: 20px;

}

.banner {
	background-image: url('../img/banner.jpg');
	background-size: cover;
	background-position: center center;
	color: white;
	object-fit: contain;
	height: 448px;
}

.banner__contents {
	margin-left: 30px;
	padding-top: 140px;
	height: 190px;

}

.banner__title {
	font-size: 3rem;
	font-weight: 800;
	padding-bottom: 0.3rem;

}

.banner__description {
	width: 45rem;
	line-height: 1.3;
	padding-top: 1rem;
	font-size: 0.8rem;
	max-width: 360px;
	height: 180px;

}

.banner__button {
	cursor: pointer;
	color: #fff;
	outline: none;
	border: none;
	font-weight: 700;
	border-radius: 0.2vw;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
	color: #000;
	background-color: #e6e6e6;
	transition: all 0.2s;

}

.banner--fadeBottom {
	margin-top: 145px;
	height: 7.4rem;
	background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.nav__logo {
	width: 170px;
	object-fit: contain;

}

.nav__avatar {
	width: 50px;
	object-fit: contain;

}

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	z-index: 1;
	transition-timing-function: ease-in;
	transition: all 0.5s;

}

.nav__black {
	background-color: #111;

}

#registrar {
    background: #e406f8;
    padding: 13px 20px;
    color: #fff;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    min-width: 75px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    border-radius: 0;
    border: 0;
    transition-property: background-color;
    transition-duration: 0.5s;
    width: 10%;
    cursor: pointer;
    transition: 3s;
    border-radius: 25px;
}

#iniciar_sesion {
    background: #e406f8;
    padding: 13px 20px;
    color: #fff;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    min-width: 75px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    border-radius: 0;
    border: 0;
    transition-property: background-color;
    transition-duration: 0.5s;
    width: 10%;
    cursor: pointer;
    transition: 3s;
    border-radius: 25px;
}


.form-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 430px;
    padding: 60px;
    border-radius: 4px;
    background: rgba(0,0,0,0.75);
    transform: translate(-50%, -50%);
}
.form-wrapper h2 {
    color: #fff;
    font-size: 2rem;

}
.form-wrapper form {
    margin: 25px 0 65px;

}

form .form-control {
    position: inherit;
    height: 50px;
    margin-bottom: 16px;
}

.form-control input {
    height: 100%;
    width: 100%;
    background: #333;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    padding: 0 20px;
}
.form-control input:is(:focus, :valid) ~ label {
    padding: 16px 20px 0;
    background: #444;
}
.form-control label {
    position: absolute;
    left: 20px;
    top: 50%;
    color: #8c8c8c;
    font-size: 1rem;
    transform: translateY(-50%);
    transition: all 0.1s ease;
}

.form-control input:is(:focus, :valid) ~ label {
    font-size: 0.75rem;
    transform: translateY(-130%);
}

form button {
    width: 100%;
    padding: 16px 0;
    font-size: 1rem;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    border-radius: 4px;
    background: #e50914;
    margin: 25px 0 10px;
    transition: 0.1s ease;

}

form button:hover {
    background: #c40812;

}

form .form-help {
    display: flex;
    justify-content: space-between;
}

form .remember-me {
    display: flex;
}

form .remember-me input {
  margin-right: 5px;
  accent-color: #b3b3b3;  
}

form .form-help :where(label, a){

   font-size: 0.9rem;

}

.form-wrapper :where(label, p, small, a) {
    color: #b3b3b3;

}

.form-wrapper p a {
    color: #fff;

}

.form-wrapper small {
    display: block;
    margin-top: 15px;

}

.form-wrapper small a {
    color: #0071eb;
}

.form-wrapper a {
    text-decoration: none;
}

.form-wrapper a:hover {
    text-decoration: underline;
}

#buscar:hover {
    border-color: #6c757d;
}


/* Estilo cuando el input de búsqueda está enfocado */

#buscar:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
}


/* Estilo para el placeholder del input de búsqueda */

#buscar::placeholder {
    color: #868e96;
}

#editar {
    background: #22f3e2;
    padding: 13px 30px;
    color: black;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    min-width: 75px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    border-radius: 0;
    border: 0;
    transition-property: background-color;
    transition-duration: 0.5s;
    width: 75%;
    cursor: pointer;
    border-radius: 25px;
}


#eliminar {
    background: #e00d0d;
    padding: 13px 20px;
    color: black;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    min-width: 75px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    border-radius: 0;
    border: 0;
    transition-property: background-color;
    transition-duration: 0.5s;
    width: 75%;
    cursor: pointer;
    border-radius: 25px;
}